# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# environments
.env

# dependencies
/node_modules
/.pnp
.pnp.js

package-lock.json

# testing
/coverage

# production
/build

# Database data
/*/.data